/*
-------------------------------------------------- */
hr.space{
	border: 0;
}
.errorMessage {
	color: #B94A48;
}

#content{
	min-height:600px;
}

.timestamp{
	font-size: 11px;
	color: #999999;
}


.demo ul{
}

.demo ul li{
}

/* Footer
-------------------------------------------------- */
#footer {
	margin-top: 0;
	font-weight: bold;
	padding: 30px 0 10px;
	border-bottom: 15px solid #313131;
	background: url('../fonts/footer-bg.png');
	background-color: #313131;
	border-bottom: 1px solid #313131;
	display: block;
	width: 100%;
}

#footer a:hover {
	text-decoration: none;
}

#footer p,#footer ul,#footer li {
	margin: 0;
	color: #DBDBDB;
	font-weight: normal;
	list-style: none;
	padding: 0;
}

#footer p {
	display: block;
	text-transform: uppercase;
	border-bottom: 1px dashed #575757;
	padding-bottom: 9px;
	margin-bottom: 7px;
}

#footer p.pushup {
	margin-top: 10px;
}

#footer li a {
	color: silver;
	font-size: 12px;
	font-weight: normal;
	display: block;
	padding: 2px 0 2px 8px;
	margin-left: -8px;
}

#footer li a:hover {
	color: #FAFAFA;
	background: rgba(0, 0, 0, 0.1);
}

#footer a,footer a:visited {
	border: none;
}

#footer .social-network {
	text-align: right;
}

#footer .social-network {
	padding: 0;
	margin: -8px 0 0;
}

#footer .social-network li a {
	background: none;
	padding: 0;
	margin: 0;
}

#footer .social-network li {
	display: inline-block;
	padding: 0;
	margin: 0;
	height: 20px !important;
}

#footer .social-network li i {
	font-size: 25px;
	line-height: 25px;
	margin-top: 0;
	padding: 3px;
	width: auto;
	height: 25px;
}

#footer .social-network li i:hover {
	color: #F76300;
	cursor: pointer;
}

#footer .footer-links {
	background: url('../fonts/transparant-20.png') top left repeat;
	padding: 10px 10px 0;
	margin: 0 !important;
}

#footer .contact-info {
	margin: 10px 0 25px !important;
	color: #A3A3A3;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	padding-left: 5px;
}
